# ------------------------------
# Python ignores
# ------------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
pip-log.txt
pip-delete-this-directory.txt

# ------------------------------
# Environment / Secrets
# ------------------------------
backend/.env  # <--- specifically ignore backend/.env
.env
# ------------------------------
# Node / React ignores
# ------------------------------
frontend/node_modules/
frontend/build/
frontend/dist/
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# ------------------------------
# OS / Editor Specific
# ------------------------------
.DS_Store
Thumbs.db
.idea/
.vscode/

# ------------------------------
# Database
# ------------------------------
client_secrets.json
dataset_chat_prepared.jsonl
dataset_jsonl
dataset_prepared_jsonl